<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myteam11.upifetch_lib">

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="in.amazon.mShop.android.shopping"/>
        <package android:name="com.mobikwik_new" />
        <package android:name="com.myairtelapp"/>
        <package android:name="com.upi.axispay" />
        <package android:name="com.whatsapp"/>
    </queries>

</manifest>
